.component-info {
    position: relative;
    text-align: right;
    margin-left: 2em;
    
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color:   white !important;
}

.component-infoText {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    top: 0.1em;
    bottom: 0.1em;
}

@media (max-width: 640px) {
    .component-infoText {
        font-family: 'Poppins', sans-serif;
        font-size: 1em;
        color: rgb(255, 255, 255);
        top: 0.1em;
        bottom: 0.1em;
    }

    p {
        font-family: 'Poppins', sans-serif;
        font-size: 1em;
        color:   white !important;
    }
}